/* Modern CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* This is the better box model you asked about! */
}

#container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width:500px;
}
.rowDiv{
    display: flex;
    /* take up all space evenly */
    flex: 1;
}

.colDiv{
    /* take up all space in row div evenly */
    flex: 1;
    border: solid 0.4px rgb(235, 235, 235);
    opacity: 1;
}

.darken{
    background-color: black;
}

.mainWrapper{
    display: flex;
    flex-direction: column;
    
}
.bodyWrapper{
    display: flex;
    justify-content: center;
}

.mainBody{
    /* background-color: black; */
}

.titleBody{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(189, 52, 52);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.secondBody{
    display: flex;
}

.settingsBody{
    display: flex;
    flex-direction: column;
}

#resOut{
    justify-self: flex-end;
}

.footer{
    display: flex;
    justify-content: center;
}

