/* Modern CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* This is the better box model you asked about! */
}

#container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width:500px;
}
.rowDiv{
    display: flex;
    /* take up all space evenly */
    flex: 1;
}

.colDiv{
    /* take up all space in row div evenly */
    flex: 1;
    border: solid 1px rgb(88, 88, 88);
    opacity: 1;
}

.darken{
    background-color: black;
}